* {
  box-sizing: border-box;
}

body {
  background: #eee;
  margin: 20px 0;
}

article {
  width: 21cm;
  min-height: 29.7cm;
  background: white;
  margin: 0 auto;
  overflow: auto;
  padding: 1em;
}

p {
  margin: .2em 0;
}

h1 {
  font-size: 32px;
  margin-top: 5px;
  margin-bottom: 10px;
}

h2 {
  margin-top: 15px;
  margin-bottom: 8px;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  color: #666;
}

strong {
  font-weight: normal;
  color: #f60;
}

h3,
h4,
h5 {
  margin: 0;
}

h4,
h5 {
  font-weight: normal;
}

a {
  color: inherit;
  color: #999;
  text-decoration: none;
  border-bottom: 1px solid;
}

.bio {
  position: relative;
}

.bio img {
  position: absolute;
  top: 0;
  right: 0;
}

.career>ol>li {
  margin-bottom: 8px;
}

.career>ol>li>header {
  display: flex;
  color: #666;
  margin-bottom: 4px;
}

.career>ol>li>header>h3 {
  color: #333;
  font-size: 18px;
}

.career>ol>li>header>h4 {
  font-size: 18px;
  margin-left: 1.5em;
}

.career>ol>li>header>span {
  font-size: 18px;
  margin-left: auto;
}

.career>ol>li>ul>li {
  padding: 5px 3px;
  list-style-type: disc;
  margin-left: 1.5em;
}

.project h4 {
  font-weight: bold;
}

.project p {
  color: #666;
  word-wrap: break-word;
}

.project strong {
  color: #f60;
}

.project .project-item {
  margin-bottom: 0.5rem;
}

.project li {
  list-style-type: disc;
  margin-left: 1.5em;
}

.project header {
  display: flex;
  justify-content: space-between;
}

#skills {
  width: 550px;
  height: 300px;
}

.skills>.wrapper {
  display: flex;
  justify-content: space-between;
}

.skills>.wrapper> :first-child {
  margin-right: 24px;
}

/* .skills>.wrapper>#skills {} */

.skills>.wrapper>ul {
  color: #666;
}

.skills>.wrapper strong {
  color: #f60;
}

.skills>.wrapper>ul>li {
  line-height: 1.4;
  margin-bottom: 5px;
}

.education li {
  padding: 0px 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.education .time {
  grid-area: 1 / 1 / 2 / 2;
}

.education .university {
  grid-area: 1 / 2 / 2 / 3;
  text-align: center;
}

.education .programme {
  grid-area: 1 / 3 / 2 / 4;
  padding-left: 4rem;
}

.education .degree {
  grid-area: 1 / 4 / 2 / 5;
  text-align: end;
}